#titulo {
    text-align: center;
    font-size: 40px;
    background-color: slategray;
    background: linear-gradient(to right, #304352, #d7d2cc);
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
    background: -ms-linear-gradient(to right, #304352, #d7d2cc);
    background: -o-linear-gradient(to right, #304352, #d7d2cc);
    width: 50%;
    font-weight: bold;
    margin-top: 50%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 40px auto;
    padding: 15px;
    color: rgb(255, 237, 157);
    box-shadow: grey 30px 30px 15px;
    text-shadow: black 2px 2px 2px;
}

.container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 20px; /* Space between images */
}

.imagen {
    width: 250px;
    height: 130px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; /* Standard property */
    box-shadow: grey 30px 30px 15px;
    padding: 3px;
    border: 2px solid black;
}
body {
    background-color: #f0f0f0; /* Light grey background */
    background: linear-gradient(to right, #ffecd2, #fcb69f); /* Gradient background */
    background: -webkit-linear-gradient(to right, #ffecd2, #fcb69f);
    background: -ms-linear-gradient(to right, #ffecd2, #fcb69f);
    background: -o-linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}